.cabecalho {
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: space-between;

    padding: 16px;
}

.cabecalho__nome {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 8px;
}

.cabecalho__nome-img {
    width: 24px;
    height: 24px;
}

.cabecalho__nome-nome {
    font-weight: 700px;
}

.cabecalho__navegacao {
    display: none;
}

.cabecalho__contato {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho__contato-email {
    color: var(--cor-cinza);
    font-weight: normal;
    font-size: 12px;

}

@media screen and (min-width: 768px) {
    .cabecalho__contato-email {
        font-weight: 700;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho__navegacao {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 480px;

        margin-right: 40px;
    }

    .cabecalho__contato-email {
        font-size: 14px;
    }

    .cabecalho__navegacao-link {
        font-family: var(--font-default);
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}