.experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 16px;
}

.experiencia__titulo {
    font-family: var(--font-default);
    color: var(--cor-cinza);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding: 8px;
}

.experiencia__bloco {
    gap: 8px;
}

.experiencia__imagem {
    width: 300px;
    margin: 16px 0;
}

.experiencia__nome-do-projeto {
    font-family: var(--font-default);
    color: var(--cor-cinza);

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 8px 0;
}

.experiencia__descricao {
    color: var(--cor-cinza);
    font-family: var(--font-default);

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    padding-bottom: 8px;
}

.experiencia__butoes {
    display: flex;
}

.experiencia__repositorio {
    color: var(--cor-azul);
    border: 1px solid var(--cor-azul);
    
    padding: 12px 16px;
    margin-right: 16px;
}

.experiencia__demo {
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    
    padding: 12px 16px;
}

@media screen and (min-width: 768px) {
    .experiencia__imagem {
        width: 700px;
    }
    .experiencia__butoes {
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .experiencia__bloco {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .experiencia__bloco:nth-child(3) {
        flex-direction: row-reverse;
    }

    .experiencia__bloco:nth-child(3) > div.experiencia__informacoes {
        align-items: flex-end;
    }

    .experiencia__informacoes {
        display: flex;
        align-self: center;
        flex-direction: column;
    }
}