.formacao {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--cor-sobre);
}

.formacao__titulo {
    font-family: var(--font-default);

    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding: 16px;

    background-color: var(--cor-sobre);
}

.formacao__lista {
    background-color: var(--cor-sobre);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 95%;
}

.formacao__bloco {
    background-color: var(--cor-sobre);
    
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0;
}

.formacao__imagem-bloco {
    background-color: var(--cor-branco);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;
    height: 118px;
    width: 296px;
}

.formacao__imagem {
    align-self: center;
    background-color: var(--cor-branco);

    width: 84px;
    height: 58px;
}

.formacao__texto {
    color: var(--cor-cinza);
    font-family: var(--font-default);
    background-color: var(--cor-sobre);

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.formacao__descricao {
    color: var(--cor-cinza);
    font-family: var(--font-default);
    background-color: var(--cor-sobre);

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

#formacao__senai {
    height: 120px;
    width: 180px;
}

@media screen and (min-width: 768px) {
    .formacao__lista {
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
    }
    
    .formacao__imagem-bloco {
        width: 200px;
        height: 118px;
    }

    .formacao__texto {
        max-width: 232px;
    }
}

@media screen and (min-width: 1024px) {
    .formacao__imagem-bloco {
        width: 280px;
        height: 286px;
    }

    .formacao__imagem {
        width: 200px;
        height: 150px;
    }
    

    #formacao__senai {
        width: 300px;
        height: 250px;
    }
}